@charset "utf-8";
/* ----- Reset -----*/
*{
	margin:0;
	padding:0;
	font-size:inherit;
	line-height:inherit;
	color:inherit;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
img{
	border-style:none;
}
form{
	display:inline;
	margin:0;
	padding:0;
}
/* ----- Common -----*/
.pageTitle{
	font-weight:bold;
	margin:0;
	padding:10px;
	line-height:150%;
	background-color: #FCFBFB;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFBFB), to(#E6E6E6));
	background: -moz-linear-gradient(top, #FCFBFB 0%, #E6E6E6 100%);
	border-bottom:1px solid #B2B2B2;
	-webkit-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	-moz-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
}
img.imgFrame{
	border:1px solid #CCC;
	padding:1px;
	background-color:#FFF;
}
a{
	color:#9E454B;
}
a:hover{
	color:#59060B;
}
/* ----- Base Layout ----- */
html,body{
	height:100%;
}
#wrapper{
	min-height:100%;
	min-width:980px;
}
#header{
}
#container{
}
#contents-inner{
}
#contents{
}
#footer{
	height:30px;
	margin-top:-30px;
}

/* ----- Header ----- */
.header{
	display:block;
	width:100%;
	background: #af575d;
	background: -moz-linear-gradient(top,  #af575d 0%, #d66b72 0%, #77161b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af575d), color-stop(0%,#d66b72), color-stop(100%,#77161b));
	background: -webkit-linear-gradient(top,  #af575d 0%,#d66b72 0%,#77161b 100%);
	background: -o-linear-gradient(top,  #af575d 0%,#d66b72 0%,#77161b 100%);
	background: -ms-linear-gradient(top,  #af575d 0%,#d66b72 0%,#77161b 100%);
	background: linear-gradient(to bottom,  #af575d 0%,#d66b72 0%,#77161b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af575d', endColorstr='#77161b',GradientType=0 );
	border-bottom:5px solid #3F0407;
	color:#FFF;
	height:40px;
}
.headerLogoArea{
	width:300px;
	float:left;
}
.headerLogo{
	padding:0 10px;
	color:#FFF;
	font-size:22px;
	font-weight:bold;
	line-height:40px;
	-webkit-text-shadow:-1px -1px 1px rgba(0,0,0,0.2);
	text-shadow:-1px -1px 1px rgba(0,0,0,0.2);
	font-family: sans-serif;
	color:inherit;
}
.headerContentsArea{
	float:right;
	text-align:right;
	padding:0;
}
ul.headerButtonList{
	margin:0;
	padding:0;
	list-style:none;
	display:inline-block;
}
	ul.headerButtonList li{
		float:left;
		padding:0;
		margin:0;
		height:40px;
		background: #d66b72;
		background: -moz-linear-gradient(top,  #d66b72 0%, #77161b 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d66b72), color-stop(100%,#77161b));
		background: -webkit-linear-gradient(top,  #d66b72 0%,#77161b 100%);
		background: -o-linear-gradient(top,  #d66b72 0%,#77161b 100%);
		background: -ms-linear-gradient(top,  #d66b72 0%,#77161b 100%);
		background: linear-gradient(to bottom,  #d66b72 0%,#77161b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d66b72', endColorstr='#77161b',GradientType=0 );
	}
		ul.headerButtonList li:not(.user):hover{
			background: #d6848a;
			background: -moz-linear-gradient(top,  #d6848a 0%, #8c4e51 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6848a), color-stop(100%,#8c4e51));
			background: -webkit-linear-gradient(top,  #d6848a 0%,#8c4e51 100%);
			background: -o-linear-gradient(top,  #d6848a 0%,#8c4e51 100%);
			background: -ms-linear-gradient(top,  #d6848a 0%,#8c4e51 100%);
			background: linear-gradient(to bottom,  #d6848a 0%,#8c4e51 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6848a', endColorstr='#8c4e51',GradientType=0 );
			color:#030;
		}
		ul.headerButtonList li img{
			margin-right:3px;
		}
		ul.headerButtonList li a{
			display:inline-block;
			line-height:40px;
			border-left:1px solid #77161b;
			border-right:1px solid #d66b72;
			padding:0 10px;
			height:40px;
			text-decoration:none;
			color:#FFF;
		}
		ul.headerButtonList li.user{
			height:40px;
			line-height:40px;
			width:400px;
			white-space:nowrap;
			overflow:hidden;
			-webkit-text-overflow:ellipsis;
			-moz-text-overflow:ellipsis;
			-o-text-overflow:ellipsis;
			-ms-text-overflow:ellipsis;
			text-overflow:ellipsis;
			padding:0 10px;
		}
		ul.headerButtonList li.logout a,
		ul.headerButtonList li.home a,
		ul.headerButtonList li.help a{
			-moz-box-sizing:content-box;
			-webkit-box-sizing:content-box;
			-o-box-sizing:content-box;
			-ms-box-sizing:content-box;
			box-sizing:content-box;
			width:20px;
			height:40px;
		}
		ul.headerButtonList li.logout a{
			background:url(../img/asico_logout.png) no-repeat 12px 12px;
		}
		ul.headerButtonList li.home a{
			background:url(../img/asico_home.png) no-repeat 12px 12px;
		}
		ul.headerButtonList li.help a{
			background:url(../img/asico_question.png) no-repeat 12px 12px;
		}

.headerMenuArea{
	background-color:#f1f0f0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfbfb),  to(#e6e6e6));
	background: -moz-linear-gradient(top, #fcfbfb 0%, #e6e6e6 100%);
	border-bottom:1px solid #AAA;
}
ul.headerMenuList{
	margin:0;
	padding:0;
	list-style:none;
	-webkit-text-shadow:0 0 1px rgba(255,255,255,0.7);
	text-shadow:0 0 1px rgba(255,255,255,0.7);
	border-left:1px solid #AAA;
}
	ul.headerMenuList li{
		float:left;
		background-color:#e6e6e6;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfbfb),  to(#e6e6e6));
		background: -moz-linear-gradient(top, #fcfbfb 0%, #e6e6e6 100%);
	}
	ul.headerMenuList li a{
		display:block;
		padding:3px 1em;
		line-height:150%;
		text-decoration:none;
		border-right:1px solid #BBB;
		border-left:1px solid #FFF;
	}
	ul.headerMenuList li a.active{
		background: #2764a5;
		background: -moz-linear-gradient(top,  #2764a5 0%, #022d60 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2764a5), color-stop(100%,#022d60));
		background: -webkit-linear-gradient(top,  #2764a5 0%,#022d60 100%);
		background: -o-linear-gradient(top,  #2764a5 0%,#022d60 100%);
		background: -ms-linear-gradient(top,  #2764a5 0%,#022d60 100%);
		background: linear-gradient(to bottom,  #2764a5 0%,#022d60 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2764a5', endColorstr='#022d60',GradientType=0 );
		border-left-color:#2764a5;
		border-right-color:#022d60;
		color:#FFF;
	}
	ul.headerMenuList li a:hover{
		background: #70b7ff;
		background: -moz-linear-gradient(top,  #70b7ff 0%, #2964b2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70b7ff), color-stop(100%,#2964b2));
		background: -webkit-linear-gradient(top,  #70b7ff 0%,#2964b2 100%);
		background: -o-linear-gradient(top,  #70b7ff 0%,#2964b2 100%);
		background: -ms-linear-gradient(top,  #70b7ff 0%,#2964b2 100%);
		background: linear-gradient(to bottom,  #70b7ff 0%,#2964b2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b7ff', endColorstr='#2964b2',GradientType=0 );
		border-left-color:#70b7ff;
		border-right-color:#2964b2;
		color:#FFF;
	}

/* ----- Footer ----- */
.footer{
	background: #9e454b;
	background: -moz-linear-gradient(top,  #9e454b 0%, #59060b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e454b), color-stop(100%,#59060b));
	background: -webkit-linear-gradient(top,  #9e454b 0%,#59060b 100%);
	background: -o-linear-gradient(top,  #9e454b 0%,#59060b 100%);
	background: -ms-linear-gradient(top,  #9e454b 0%,#59060b 100%);
	background: linear-gradient(to bottom,  #9e454b 0%,#59060b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e454b', endColorstr='#59060b',GradientType=0 );
	color:#FFF;
}

/* ----- Sidebar ----- */
.sidebar{
}
ul.sideMenuList{
	padding:0;
	margin:0;
	list-style:none;
}
	ul.sideMenuList li{
		padding:0;
		margin:0;
		line-height:0;
	}
	ul.sideMenuList li a{
		display:block;
		font-size:medium;
		background-color:#e6e6e6;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfbfb),  to(#e6e6e6));
		background: -moz-linear-gradient(top, #fcfbfb 0%, #e6e6e6 100%);
		border:1px solid #BBB;
		border-top-color:#FFF;
		padding:1em 1em;
		text-decoration:none;
		color:#333;
	}
	ul.sideMenuList li a.active{
		background-color: #8ac000;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#69a800), to(#3c6100));
		background: -moz-linear-gradient(top, #69a800 0%, #3c6100 100%);
		border-left-color:#b4d713;
		border-right-color:#3c6100;
	}
	ul.sideMenuList li a:hover{
background: #fcdedf;
background: -moz-linear-gradient(top,  #fcdedf 0%, #e8b4b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcdedf), color-stop(100%,#e8b4b7));
background: -webkit-linear-gradient(top,  #fcdedf 0%,#e8b4b7 100%);
background: -o-linear-gradient(top,  #fcdedf 0%,#e8b4b7 100%);
background: -ms-linear-gradient(top,  #fcdedf 0%,#e8b4b7 100%);
background: linear-gradient(to bottom,  #fcdedf 0%,#e8b4b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdedf', endColorstr='#e8b4b7',GradientType=0 );
		color:#59060B;
	}
.sideMenuListHead{
	background: #e89296;
	background: -moz-linear-gradient(top,  #e89296 0%, #bc676c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e89296), color-stop(100%,#bc676c));
	background: -webkit-linear-gradient(top,  #e89296 0%,#bc676c 100%);
	background: -o-linear-gradient(top,  #e89296 0%,#bc676c 100%);
	background: -ms-linear-gradient(top,  #e89296 0%,#bc676c 100%);
	background: linear-gradient(to bottom,  #e89296 0%,#bc676c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89296', endColorstr='#bc676c',GradientType=0 );
	color:#132D52;
	font-size:inherit;
	line-height:200%;
	font-weight:bold;
	padding:0.5em;
	border:1px solid #AA5559;
	-webkit-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	-moz-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
}
/* ----- Left Menu ----- */
.leftSidebarArea{
	padding:10px;  
	margin-bottom: 0;   
	height: 100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#ECFAAA;
}

.leftMenuArea{
	margin:10px;
}
	.leftMenuArea ul{
		display:block;
		list-style-type:none;
		padding:0;
		margin:0;
	}
		.leftMenuArea ul li img{
			vertical-align:middle;
			margin-right:5px;
		}
/* ----- Right Menu ----- */
.rightSidebarArea{
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
	.rightSidebarArea .box_r_g{
		font-size:small;
	}
	.rightSidebarArea .box_r_g h3{
		font-size:inherit;
		font-weight:bold;
		padding:0 0 0.5em 0;
	}
	ul.sideInfo{
		padding:0;
		margin:0;
		list-style-type:none;
	}
		ul.sideInfo li{
			line-height:125%;
			height:2em;
			overflow:hidden;
		}
		ul.sideInfo li a{
			display:block;
			margin-bottom:1em;
			-webkit-text-overflow:ellipsis;
			-moz-text-overflow:ellipsis;
			text-overflow:ellipsis;
		}
		ul.sideInfo li:last-child{
			margin-bottom:0;
		}
		ul.sideInfo li time{
			display:block;
		}
.seeAllLink{
	display:block;
	text-align:right;
	margin-top:1em;
}

/* ----- Main ----- */
.main{
}

ul.contentsMenuList{
	margin:0;
	padding:0;
	list-style:none;
	background-color: #8ac000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b4d713), to(#8ac000));
	background: -moz-linear-gradient(top, #b4d713 0%, #8ac000 100%);
	border:1px solid #8ac000;
}
	ul.contentsMenuList li{
		display:block;
		float:left;
		border-left:1px solid #cde724;
		border-right:1px solid #63ac38;
	}
	ul.contentsMenuList li img{
		vertical-align:top;
		margin-right:3px;
	}
	ul.contentsMenuList li a{
		display:table-cell;
		vertical-align:middle;
		padding:0 1em;
		height:32px;
		text-decoration:none;
		background-color: #8ac000;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b4d713), to(#8ac000));
		background: -moz-linear-gradient(top, #b4d713 0%, #8ac000 100%);
		color:#030;
	}
	ul.contentsMenuList li a:hover{
		background-color: #8ac000;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dff28a), to(#b4d713));
		background: -moz-linear-gradient(top, #dff28a 0%, #b4d713 100%);
		color:#030;
	}
.functionArea{
}
ul.functionList{
}
	ul.functionList li{
	}
	ul.functionList li a{
	}
	ul.functionList li:hover a{
		color:#3F0407;
	}
	ul.functionList li:hover{
		background: #f2e3e3;
		background: -moz-linear-gradient(top,  #f2e3e3 0%, #edd7d7 50%, #e2c3c4 50%, #e5d0d2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2e3e3), color-stop(50%,#edd7d7), color-stop(50%,#e2c3c4), color-stop(100%,#e5d0d2));
		background: -webkit-linear-gradient(top,  #f2e3e3 0%,#edd7d7 50%,#e2c3c4 50%,#e5d0d2 100%);
		background: -o-linear-gradient(top,  #f2e3e3 0%,#edd7d7 50%,#e2c3c4 50%,#e5d0d2 100%);
		background: -ms-linear-gradient(top,  #f2e3e3 0%,#edd7d7 50%,#e2c3c4 50%,#e5d0d2 100%);
		background: linear-gradient(to bottom,  #f2e3e3 0%,#edd7d7 50%,#e2c3c4 50%,#e5d0d2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e3e3', endColorstr='#e5d0d2',GradientType=0 );
	}
	ul.functionList li a.add{
		background:url(../img/asico_add.png) no-repeat 5px center;
		padding-left:24px;
	}
	ul.functionList li.home a{
		padding:0.5em 0.75em;
	}



ul.tabMenu{
	width:100%;
	padding:0px;
	margin:0px;
	list-style:none;
	border-bottom:1px solid #828282;
	position:relative;
	white-space:nowrap;
}
	ul.tabMenu li{
		display:block;
		float:left;
		position:relative;
		bottom:-1px;
		margin-right:3px;
	}
	ul.tabMenu li a{
		display:block;
		line-height:32px;
		padding:0 20px;
		border:1px solid #828282;
		border-bottom-style:none;
		background-color:#f3f3f3;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), color-stop(0.5, #dedede), color-stop(0.5, #cacaca), to(#f3f3f3));
		background: -moz-linear-gradient(top, #ffffff 0%, #dedede 50%, #cacaca 50%, #f3f3f3 100%);
		border-radius:4px 4px 0 0;
		margin-top:0px;
		font-size:14px;
		text-decoration:none;
		border-bottom:1px solid #828282;
	}
	ul.tabMenu li a:hover{
		background-color: #CBE35E;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5F0AF), color-stop(0.5, #CBE35E), color-stop(0.5, #A4C411), to(#C2E041));
		background: -moz-linear-gradient(top, #E5F0AF 0%, #CBE35E 50%, #A4C411 50%, #C2E041 100%);
	}
	ul.tabMenu li a.active{
		background-image:none;
		background-color:#FFF;
		border-bottom:1px solid #FFF;
	}
div.tabMenuBox{
	border-left:1px solid #828282;
	border-right:1px solid #828282;
	border-bottom:1px solid #828282;
	padding:20px;
	background-color:#FFF;
}

table.gridTable{
	border-color:#AAA;
}
table.gridTable th,
table.gridTable td{
	line-height:150%;
}
table.gridTable caption{
	color:#2A3B00;
}

table.gridTable th.mainTh{
background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	border-bottom-color:#828282;
	border-left-color:#828282;
	border-right-color:#eee;
	color:#333;
}
	table.gridTable tr:first-child th.mainTh:first-child{
		border-left-style:none;
	}


table.gridTable th.subTh{
	background-color:#f3f3f3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), color-stop(0.5, #dedede), color-stop(0.5, #cacaca), to(#f3f3f3));
	background: -moz-linear-gradient(top, #ffffff 0%, #dedede 50%, #cacaca 50%, #f3f3f3 100%);
	color:#333;
	border-bottom-color:#828282;
}

table.gridTable td{
	background-color:#FFFFFF;
	color:#333;
}
table.gridTable td.even{
	background-color:#f2f2f2;
	color:#333;
}
	table.gridTable .function_icon_cell a:hover{
		background: #c3daf4;
		color:#022D60;
	}
table.gridTable .active_cell{
}

table.gridTable th.sort_cell{
}
	table.gridTable th.sort_cell a{
		color:#333;
	}
	table.gridTable th.sort_cell a.sort_asc,
	table.gridTable th.sort_cell a.sort_desc{
		font-weight:bold;
		color:#BC676C;
	}
	table.gridTable th.sort_cell a:after{
		/*ソートリンクの横に三角形を追加*/
		border-top-color:#666;
	}
	table.gridTable th.sort_cell a.sort_asc:after{
		border-color:transparent;
		border-bottom-color:#9E454B;
	}
	table.gridTable th.sort_cell a.sort_desc:after{
		border-top-color:#9E454B;
	}
	table.gridTable th.sort_cell a:hover{
background: #dddddd;
background: -moz-linear-gradient(top,  #dddddd 0%, #aaaaaa 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#aaaaaa));
background: -webkit-linear-gradient(top,  #dddddd 0%,#aaaaaa 100%);
background: -o-linear-gradient(top,  #dddddd 0%,#aaaaaa 100%);
background: -ms-linear-gradient(top,  #dddddd 0%,#aaaaaa 100%);
background: linear-gradient(to bottom,  #dddddd 0%,#aaaaaa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#aaaaaa',GradientType=0 );
		color:#9E454B;
	}
	table.gridTable th.sort_cell a:hover:after{
		border-top-color:#333;
	}
	table.gridTable th.sort_cell a.sort_asc:hover:after{
		border-color:transparent;
		border-bottom-color:#9E454B;
	}
	table.gridTable th.sort_cell a.sort_desc:hover:after{
		border-top-color:#9E454B;
	}
/* ----- toggleList ----- */
ul.toggleList{
	padding:0;
	margin:0;
	list-style:none;
	border-top:1px solid #BBB;
}
	.toggleList > li{
		font-size:medium;
		position:relative;
	}
	.toggleList > li div.toggleHead{
		background-color:#e6e6e6;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfbfb),  to(#e6e6e6));
		background: -moz-linear-gradient(top, #fcfbfb 0%, #e6e6e6 100%);
		border:1px solid #BBB;
		border-top-color:#FFF;
		padding:0.75em 6px;
		cursor:pointer;
		position:relative;
		line-height:125%;
	}
	.toggleList > li div.toggleHead:before{
		content:'';
		padding-left:25px;
		background:url(../img/list_toggle_button_down.png) no-repeat;
	}
	.toggleList > li.open div.toggleHead:before{
		content:'';
		padding-left:25px;
		background:url(../img/list_toggle_button_up.png) no-repeat;
	}
	.toggleList > li div.toggleBody{
		border:1px solid #BBB;
		padding:10px;
		position:relative;
		display:none;
	}
	.toggleList > li.open div.toggleBody{
		display:inherit;
	}
/* zebra list */
ul.zebraList{
	padding:0;
	margin:0;
	list-style:none;
}
	ul.zebraList li{
		background-color:#FFF;
		padding:5px;
	}
	ul.zebraList li:nth-child(even){
		background-color:#EEE;
		padding:5px;
	}
	ul.zebraList li a{
		display:block;
		padding:5px;
		text-decoration:none;
	}
		ul.zebraList li a.active{
			background-color:#96B1E0;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#96B1E0),  to(#43629C));
			background: -moz-linear-gradient(top, #96B1E0 0%, #43629C 100%);
			background: linear-gradient(#96B1E0, #43629C);
			color:#FFF;
			border-radius:4px;
		}
	
/* シンプルなリスト型ボタン*/
ul.listButton{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
	ul.listButton li{
		margin:0px;
		padding:0px;
		border-top:1px solid #CCC;
		background: #fefefe;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eeeeee));
		background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
		background: linear-gradient(to bottom,  #fefefe 0%,#eeeeee 100%);
	}
		ul.listButton li:last-of-type{
			border-bottom:1px solid #CCC;
		}
		ul.listButton li > a
		{
			display:block;
			padding:1.25em 20px 1.25em 1.25em;
			-webkit-background-origin: content-box !important;
			-moz-background-origin:content-box;
			background-origin:content-box;
			background:url(../img/icon_list_button.png) no-repeat;
			background-position:right;
			text-decoration:none;
			color:#333;
			min-height:20px;
		}

/* 定義リスト */
dl.defineList{
	margin:10px;
	padding:0;
}
	dl.defineList dt{
		float: left;
		padding:0;
		font-weight: normal;
		width:50%;
	}
	dl.defineList dd{
		padding: 0 0 0 50%;
	}
li dl.defineList{
	margin:0px;
}

/* ----- h tags ----- */
h1.caption{
	border-left:8px solid #BC676C;
	padding:0.25em 0.5em;
	margin:1em 0 0.5em 0;
}

/* ----- input ----- */
input{
	margin:3px;
	font-size:14px;
}
input[type=button],
input[type=submit],
input[type=reset]{
	border:1px solid #8b8b8b;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5 px;
	background-color: #DDE8F6;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), color-stop(0.5, #dddddd), color-stop(0.5, #cbcbcb), to(#eeeeee));
	background: -moz-linear-gradient(top, #fdfdfd 0%, #dddddd 50%, #cbcbcb 50%, #eeeeee 100%);
	padding-left:1em;
	padding-right:1em;
	line-height:26px;
	font-size:14px;
	color:#333;
	cursor:pointer;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover{
	background-color: #b8b8b8;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), color-stop(0.5, #dcdcdc), color-stop(0.5, #cdcdcd), to(#b8b8b8));
	background: -moz-linear-gradient(top, #ececec 0%, #dcdcdc 50%, #cdcdcd 50%, #b8b8b8 100%);
}

.margin_box5,
.margin_box10,
.margin_box20,
.margin_box30{
	font-size:1px;
	line-height:1px;
}

.margin5{
	height:5px;
}
.margin10{
	height:10px;
}
.margin15{
	height:15px;
}
.margin20{
	height:20px;
}
.margin30{
	height:30px;
}

/* Input Layout */
dl.inputField{
	width:100%;
}
	dl.inputField dt{
		width:200px;
		float:left;
		padding:0.25em 0.5em;
	}
	dl.inputField dd{
		margin-left:200px;
		margin-bottom:0.25em;
		padding:0.25em 0.5em;
		border-left:3px solid #8AC000;
	}

table.inputField{
	width:100%;
	border-spacing:3px;
}
	table.inputField th{
		width:200px;
		padding:0.25em 0.5em;
		font-weight:normal;
		vertical-align:top;
	}
	table.inputField td{
		padding:0.25em 0.5em;
		border-left:3px solid #8AC000;
	}

/* Pager */
.pagerArea{
	background-color:#f3f3f3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), color-stop(0.5, #dedede), color-stop(0.5, #cacaca), to(#f3f3f3));
	background: -webkit-linear-gradient(top, #ffffff 0%, #dedede 50%, #cacaca 50%, #f3f3f3 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #dedede 50%, #cacaca 50%, #f3f3f3 100%);
	border:1px solid #828282;
	border-top-style:none;
}
.pagerArea .pagerAreaLeft{
}
.pagerArea .pagerAreaRight{
}
ul.pager {
}
ul.pager li {
}
ul.pager li.nowPage{
	color:#000;
}
ul.pager li a{
	color:#666;
}
	ul.pager li a:hover{
		color:#022D60;
		background: #dce6f4;
		background: -moz-linear-gradient(top,  #dce6f4 0%, #abbee0 49%, #91acd9 54%, #c2d5ec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dce6f4), color-stop(49%,#abbee0), color-stop(54%,#91acd9), color-stop(100%,#c2d5ec));
		background: -webkit-linear-gradient(top,  #dce6f4 0%,#abbee0 49%,#91acd9 54%,#c2d5ec 100%);
		background: -o-linear-gradient(top,  #dce6f4 0%,#abbee0 49%,#91acd9 54%,#c2d5ec 100%);
		background: -ms-linear-gradient(top,  #dce6f4 0%,#abbee0 49%,#91acd9 54%,#c2d5ec 100%);
		background: linear-gradient(to bottom,  #dce6f4 0%,#abbee0 49%,#91acd9 54%,#c2d5ec 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce6f4', endColorstr='#c2d5ec',GradientType=0 );
	}
ul.pager li.next a{
	border: 1px #999999 solid;
	padding:5px 10px;
	background-color: #b8b8b8;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), color-stop(0.5, #dcdcdc), color-stop(0.5, #cdcdcd), to(#b8b8b8));
	background: -moz-linear-gradient(top, #ececec 0%, #dcdcdc 50%, #cdcdcd 50%, #b8b8b8 100%);
	border-radius:4px;
	color:#333;
}
	ul.pager li.next a:hover{
		background-color: #CBE35E;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5F0AF), color-stop(0.5, #CBE35E), color-stop(0.5, #A4C411), to(#C2E041));
		background: -moz-linear-gradient(top, #E5F0AF 0%, #CBE35E 50%, #A4C411 50%, #C2E041 100%);
	}

ul.pager li.prev a{
	border: 1px #999999 solid;
	padding:5px 10px;
	background-color: #b8b8b8;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), color-stop(0.5, #dcdcdc), color-stop(0.5, #cdcdcd), to(#b8b8b8));
	background: -moz-linear-gradient(top, #ececec 0%, #dcdcdc 50%, #cdcdcd 50%, #b8b8b8 100%);
	border-radius:4px;
	color:#333;
}
	ul.pager li.prev a:hover{
		background-color: #CBE35E;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5F0AF), color-stop(0.5, #CBE35E), color-stop(0.5, #A4C411), to(#C2E041));
		background: -moz-linear-gradient(top, #E5F0AF 0%, #CBE35E 50%, #A4C411 50%, #C2E041 100%);
	}


/* ----- general header ----- */
.generalHeaderG{
	background-color: #CBE35E;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5F0AF), color-stop(0.5, #CBE35E), color-stop(0.5, #A4C411), to(#C2E041));
	background: -moz-linear-gradient(top, #E5F0AF 0%, #CBE35E 50%, #A4C411 50%, #C2E041 100%);
	color:#2A3B00;
	padding:0 0.5em;
	font-size:inherit;
	font-weight:bold;
	line-height:200%;
	border:1px solid #BBB;
	border-bottom-color:#89A346;
	-webkit-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	-moz-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
}
.generalHeaderW{
	background-color:#f3f3f3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), color-stop(0.5, #dedede), color-stop(0.5, #cacaca), to(#f3f3f3));
	background: -moz-linear-gradient(top, #ffffff 0%, #dedede 50%, #cacaca 50%, #f3f3f3 100%);
	border:1px solid #BBB;
	color:#333;
	padding:0 0.5em;
	font-size:inherit;
	font-weight:bold;
	line-height:200%;
	border:1px solid #BBB;
	-webkit-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	-moz-text-shadow:1px 0px 0px rgba(255,255,255,0.5);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
}



.selectedItem{
	background: -webkit-gradient(linear, left top, left bottom, from(#d2f8c5), to(#a2ea8b));
	background: -moz-linear-gradient(top, #d2f8c5, #a2ea8b);
	padding:5px;
	border-bottom:1px solid #155800;
	border-top:1px solid #2ebf00;
}

img.icon{
	margin-right:3px;
	vertical-align:top;
}

.userFace{
	width:32px;
	height:32px;
	border-radius:6px;
	vertical-align:middle;
	margin:2px;
}
.ellipsisBox{
	white-space:nowrap;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-o-text-overlow:ellipsis;
	text-overflow:ellipsis;
}

/* ----- 汎用BOX ----- */
.box_r_g{
	background-color:#EEE;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	padding:10px;
	margin-bottom:1em;
}

/* ----- User List ----- */
ul.userList{
	padding:0;
	margin:0;
	list-style-type:none;
}
	ul.userList li{
		display:block;
		float:left;
		width:250px;
		height:70px;
		padding:10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		border:1px solid #CCC;
		font-size:small;
		margin:5px 5px;
		background: #FFF;
		background: -moz-linear-gradient(top,  #FFF 0%, #EEE 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#EEE));
		background: -webkit-linear-gradient(top,  #FFF 0%,#EEE 100%);
		background: -o-linear-gradient(top,  #FFF 0%,#EEE 100%);
		background: -ms-linear-gradient(top,  #FFF 0%,#EEE 100%);
		background: linear-gradient(to bottom,  #FFF 0%,#EEE 100%);
	}
		ul.userList li:hover{
			background-color:#ECFAAA;
			background: -moz-linear-gradient(top,  #FFF 0%, #ECFAAA 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECFAAA));
			background: -webkit-linear-gradient(top,  #FFF 0%,#ECFAAA 100%);
			background: -o-linear-gradient(top,  #FFF 0%,#ECFAAA 100%);
			background: -ms-linear-gradient(top,  #FFF 0%,#ECFAAA 100%);
			background: linear-gradient(to bottom,  #FFF 0%,#ECFAAA 100%);
		}
	ul.userList li div.userFaceArea{
		display:block;
		float:left;
		width:50px;
	}
	ul.userList li div.userName{
		display:block;
		font-size:inherit;
		line-height:200%;
		white-space:nowrap;
		overflow:hidden;
		-webkit-text-overflow:ellipsis;
		-moz-text-overflow:ellipsis;
		text-overflow:ellipsis;
	}
	ul.userList li .userFace{
		width:40px;
		height:40px;
	}
	ul.userList li .userJoinInfo{
		white-space:nowrap;
		overflow:hidden;
		-webkit-text-overflow:ellipsis;
		-moz-text-overflow:ellipsis;
		text-overflow:ellipsis;
	}
	.joining{
		background-color:#F60;
		color:#FFF;
		line-height:150%;
		padding:0 0.25em;
		border-radius:4px;
		margin-right:2px;
	}
/* ----- login ----- */
#loginBox{
	background: #dddddd !important;
	background: -moz-linear-gradient(top,  #dddddd 0%, #af575d 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd ), color-stop(100%,#aaaaaa)) !important;
	background: -webkit-linear-gradient(top,  #dddddd  0%,#aaaaaa 100%) !important;
	background: -o-linear-gradient(top,  #dddddd  0%,#aaaaaa 100%) !important;
	background: -ms-linear-gradient(top,  #dddddd  0%,#aaaaaa 100%) !important;
	background: linear-gradient(to bottom,  #dddddd  0%,#aaaaaa 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd ', endColorstr='#aaaaaa',GradientType=0 ) !important;
	border:1px solid #aaaaaa !important;
	color:#333 !important;
}
